
.form{
    background-color: white;
    width: 90%;
    max-width: 45rem;
    border-radius: 12px;
    padding: 0.5rem;
    margin: 2rem auto;
}
.form label{
    display: block;
    padding: 0.9rem;
    font-weight: bold;
}
.form input{
    display: block;
    width: 20rem;
    height: 2rem;
    border: 1px solid #ccc;
    font-size: 20px;
    border-radius: 2px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.form input:focus{
    outline: none;
}

.actions button{
    padding: 0.8rem 1.5rem;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: purple;
    color: white;
}

.actions{
    text-align: right;
    padding-right: 2rem;
}

.error{
    color: red;
    margin-left: 1rem;
}

.invalid input{
    border: 1px green solid;
    background-color: pink;
}
.actions button:disabled{
    cursor: not-allowed;
    background-color: #ccc;
    border: 1px solid #ccc;
}
